<div class="h-screen w-full flex overflow-hidden bg-surface-50 dark:bg-surface-950 text-surface-900 dark:text-surface-0 font-sans transition-colors duration-300">
    <!-- Menu Latéral avec variable de référence #sidebar -->
    <app-sidebar #sidebar></app-sidebar>
    <!-- Colonne principale -->
    <div class="flex-1 flex flex-col h-full relative overflow-hidden">
        <!-- En-tête avec écoute de l'événement toggleSidebar -->
        <app-header (toggleSidebar)="sidebar.toggle()"></app-header>
        <!-- Zone de contenu -->
        <main class="flex-1 overflow-y-auto p-6 scroll-smooth">
            <router-outlet></router-outlet>
        </main>
        <!-- Pied de page -->
        <app-footer></app-footer>

    </div>
</div>
