<footer class="w-full py-3 px-6 border-t border-surface-200 dark:border-surface-800 bg-surface-50/50 dark:bg-surface-950/50 flex justify-center items-center gap-4 z-10 backdrop-blur-sm transition-colors duration-300">

    <span class="text-sm font-medium tracking-wide text-surface-500 dark:text-surface-400">
        &copy; 2026 Data Skills Radar
    </span>

    <!-- Chip Version : Effet Glassmorphism DeepTech -->
    <p-chip
        label="1.0.0"
        class="text-xs font-bold px-2 py-1 rounded-md bg-primary-500/10 border border-primary-500/30 text-primary-600 dark:text-primary-400 backdrop-blur-md shadow-sm">
    </p-chip>

</footer>
